// COLORS

$white: #ffffff;
$very-light-gray: #f5f6fa;
$moderate-blue: #5357b6;
$dark-blue: #334253;
$grayish-blue: #67727e;
$light-grayish-blue: #c5c6ef;

$background-color: $very-light-gray;
$comments-bg: $white;

// BORDER-RADIUS
$border-radius-alpha: 0.8rem;
$border-radius-beta: 1rem;

// FONTS
$font-family-alpha: 'Rubik', sans-serif;
