@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

@import './abstract/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    font-size: 1.6rem;
    font-family: $font-family-alpha;
}

button {
    background: none;
    border: none;
    font-family: $font-family-alpha;
}
