@import '../../styles/abstract/variables';

$padding: 2.4rem;

/**
*  CONTAINER
*/
.comment_container {
    display: flex;
    padding: $padding;

    background: $comments-bg;
    border-radius: $border-radius-alpha;

    width: 70rem;

    margin-top: 2rem;

    .comment_data {
        width: 100%;
        padding-left: $padding;
    }
}

/**
*  Header
*/
.comment_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    .user_info {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .user_image {
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
        }

        .current_user_reply {
            border-radius: 0.2rem;
            background-color: $moderate-blue;

            padding: 0.3rem 0.6rem;

            color: $white;
            font-weight: 500;
            font-size: 1.3rem;
        }

        .username {
            color: $dark-blue;
            font-weight: 500;
        }

        .created_at {
            color: $grayish-blue;
            font-weight: 400;
        }
    }

    .button_container {
        display: flex;
        gap: 1.6rem;

        svg {
            path {
                fill: $dark-blue;
            }
        }
    }
}

/**
* BODY
**/
.comment_body {
    color: $grayish-blue;
    font-weight: 400;
    line-height: 2.4rem;
}

/**
* SCORE COUNTER
**/
.comment_score_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 4rem;
    height: 10rem;

    background-color: $very-light-gray;
    border-radius: $border-radius-beta;

    padding: 1.2rem;

    .comment_score_button {
        cursor: pointer;

        &:hover {
            svg {
                path {
                    fill: $moderate-blue;
                }
            }
        }
    }

    .comment_score {
        color: $moderate-blue;
        font-weight: 500;
    }
}

/**
*   TEXT AREA CONTAINER
**/
.comment_text_area_container {
    display: flex;
    gap: 1.6rem;
    width: 70rem;

    .user_image {
        width: 4rem;
        height: 4rem;

        border-radius: 50%;

        margin-top: 0.4rem;
    }

    .textarea {
        width: 100%;

        border-radius: $border-radius-alpha;
        border: 1px solid $light-gray;

        padding: 1.2rem 2.4rem;

        resize: none;

        font-family: $font-family-alpha;

        &:focus-visible {
            outline: none;
            border-color: $moderate-blue;
        }
    }
}

/**
* COMMENT REPLY
*/

.comment_reply_section {
    display: flex;
    justify-content: space-between;

    width: 70rem;

    margin-top: 2rem;

    // margin: 0 2rem 0;

    .vertical_line {
        display: flex;
        justify-content: center;

        width: 8rem;
        height: inherit;

        div {
            display: flex;
            width: 0.2rem;
            height: 100%;

            background-color: $light-gray;
        }
    }

    .comment_reply_container {
        width: 100%;
        .comment_container,
        .comment_text_area_container {
            width: 62rem;
            margin-bottom: 2rem;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        &:last-of-type {
            .comment_container {
                margin-top: 0;
            }
        }
    }
}
